/* Abram Van Meter 09/19/25 */

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Verdana;
    margin: 0;
}

header, nav ul, #content-wrapper {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #008000;
}

[id=logo] {
    position: absolute;
    top: 0px;
    left: 0px;
}

header {
    position: relative;
}

header h1, nav ul {
    padding-left: 50px;
}

nav {
    background-color: #008000;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav ul a {
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    background-color: black;
    color: #9ae39a;
}

main article img {
    border: 3px double #333;
    float: left;
    margin: .5rem 1rem .5rem 0;
}

main section {
    display: flex;
    flex-wrap: wrap;
}

main section div {
    background-color: #e7ffe7;
    border: 1px solid #008000;
    border-radius: 10px;
    margin-right: 1rem;
    flex: 1;
    text-align: center;
    padding: 0 0 1rem 0;
}

#bam {
    margin-right: 0;
}

main section div h2 {
    background-color: #008000;
    border-radius: 10px 10px 0 0;
    color: white;
    margin-top: 0;
    padding: 0.5rem;
}

main section div img {
    border: 3px double #333;
    display: block;
    margin: 1rem auto;
    max-width: 90%;
}

aside section {
    background-color: white;
    margin-bottom: 1rem;
    border: 1px solid #008000;
    border-radius: 5px;
    overflow: hidden;
}

aside h3 {
    background-color: #008000;
    color: white;
    padding: .5rem;
    margin: 0;
}

aside a {
    display: inline-block;
    padding: .5rem;
}

#content-wrapper {
    display: flex;
    margin-top: 1rem;
}

aside {
    order: 2;
    flex: 1;
    background-color: #ccc;
    margin-right: 1rem;
    padding: .5rem;
    position: relative;
    top: 20px;
    align-self: flex-start;
}

aside h2 {
    margin-top: 0;
    white-space: nowrap;
}

#content-wrapper main {
    order: 1;
    flex: 2;
}

@media (max-width: 768px) {
    main section {
        flex-direction: column;
    }
    
    main section div {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    #content-wrapper {
        flex-direction: column;
    }
    
    aside {
        order: 3;
        top: 0;
        margin-right: 0;
        margin-top: 1rem;
    }
}